.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1) !important;
    font-size: 2rem;
}

.navbar-nav .nav-link:hover {
    color: rgb(156, 0, 156) !important;
}


body {
    font-family: 'Oswald', sans-serif;
}

#blogtitle {
    font-size: 3rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }

    #blogdetailtitle {
        font-size: 5rem;
    }
}

.navbar-nav .button {
    font-size: 2rem;
}

.logo-body {
    font-size: 2rem;
}

.name {
    color: rgb(156, 0, 156) !important;
}

.main-text {
    font-size: 3rem;
}

.blog_text {
    font-size: 2rem;
}